.footer{
    width: 100%;
    padding: 0.8rem 0;
    background: var(--color-bg);
}
.footer-container{
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.left{
    height: 70%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    margin-bottom: 0.5rem;
}
.location p{
    line-height: 25px;
}
.phone{
    display: flex;
    margin-bottom: 0.5rem;
}
.email{
    display: flex;
    margin-bottom: 0.5rem;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer-socials{
    margin-top: 1rem;
}
.footer-icon:hover{
    color: var(--text-color);
    transition: ease-out 0.7s;
}
h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p{
    font-size: 1.1rem;
    font-weight: 300;
}

@media screen and (max-width: 640px){
    .footer-container{
        grid-template-columns: 1fr;
    }
    h4{
        font-size: 0.7rem;
        padding:0 0.2rem 0.5rem 0.2rem;
    }
    p{
        font-size: 0.6rem;
    }
}